@import '../base/typography/typography';

footer {

	&#colophon {
		background-color: $synth__purple;
		color: $white;
	}

	.main-container {
		max-width: $content__width;
		margin: 2.5em auto 4.5em;
		display: flex;
		flex-flow: row wrap;
		align-items: center;

		@include bp(tablet) {
			max-width: $default_width;
		}

		.box {
			flex-basis: 33%;
			display: flex;
			flex-direction: column;

			@include bp(less_than_ipad) {
				flex-basis: 100%;
				text-align: center;
				margin: 1.5em auto;
			}

			&.contact {

				a {
					color: $white;
					text-decoration: none;
					position: relative;

					&:hover {
						color: $red;
					}
				}

				.logo {
					a {
						img {
							max-width: 25%;
						}
					}
				}

				.location {
					padding: 1em 0;
				}

				a {

					&.email,
					&.phone {
						text-decoration: none;
					}
				}
			}

			&.menu {
				nav {

					&.main-footer-navigation {
						ul {
							display: flex;
							list-style: none;
							flex-direction: column;
							margin: 0 auto;
							padding: 0;

							li {
								margin: .15em 0;

								a {
									color: $white;
									font-family: $font__heading;
									text-decoration: none;
									font-weight: 500;
									position: relative;

									&:hover {
										color: $red;
									}

									&:hover::after {
										position: absolute;
										display: block;
										content: "";
										background-color: $red;
										height: 3px;
										width: 100%;
										overflow: hidden;
									}
								}
							}
						}
					}
				}
			}

			&.social {
				align-items: flex-end;

				@include bp(less_than_ipad) {
					align-items: center;
				}

				a {
					color: $white;
					text-decoration: none;
					position: relative;
					padding: .5em 0;
					position: relative;

					&:hover {
						color: $red;
					}

					&.instagram {
						padding-right: 2.5em;

						&:before {
							content: "";
							position: absolute;
							right: 0;
							top: .3em;
							background-image: url('dist/images/instagram-icon.svg');
							width: 30px;
							height: 30px;
							background-position: center;
							background-size: cover;
							cursor: pointer;
						}
					}

					&.facebook {
						padding-right: 2.5em;

						&:before {
							content: "";
							position: absolute;
							right: 0;
							top: .3em;
							background-image: url('dist/images/facebook-icon.svg');
							width: 30px;
							height: 30px;
							background-position: center;
							background-size: cover;
							cursor: pointer;
						}
					}

					&.linkedin {
						padding-right: 2.5em;

						&:before {
							content: "";
							position: absolute;
							right: 0;
							top: .3em;
							background-image: url('dist/images/linkedin-icon.svg');
							width: 30px;
							height: 30px;
							background-position: center;
							background-size: cover;
							cursor: pointer;
						}
					}

					&.twitter {
						padding-right: 2.5em;

						&:before {
							content: "";
							position: absolute;
							right: 0;
							top: .3em;
							background-image: url('dist/images/twitter-icon.svg');
							width: 30px;
							height: 30px;
							background-position: center;
							background-size: cover;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}