header {

	&#masthead {
		@include bp(less_than_ipad) {
			max-width: 92%;
			margin: 0 auto;
		}

		.header-container {
			max-width: $content__width;
			margin: 0 auto;
			height: 100px;
			display: flex;
			justify-content: space-between;
			flex-flow: row nowrap;
			align-items: center;
			position: relative;

			@include bp(tablet) {
				max-width: $default_width;
			}

			@include bp(less_than_ipad) {
				flex-flow: column nowrap;
				max-width: 100%;
			}
			
			.site-branding {
				flex-basis: 25%;

				@include bp(less_than_ipad) {
					flex-basis: 100%;
				}

				.logo {
					z-index: 25;

					@include bp(less_than_ipad) {
						margin: 1em 0;
					}

					a {
						color: $secondary__color;
					}
				}
			}

			nav {
				flex-basis: 75%;
				.menu-toggle {
					@include bp(less_than_ipad) {
						margin-left: auto;
					}
				}

				@include bp(less_than_ipad) {
					margin-top: 5em;
					width: 100vw;
					z-index: 20;
					text-align: center;
    				background: $primary__black_light;
				}
			}

			.site-branding {
				display: flex;
				flex-direction: row;

				@include bp(less_than_ipad) {
					width: 100%;
					flex-direction: row;
					margin: 0.5em 0 0;
				}
			}
		}

		.jumbotron {
			max-width: $content__width;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			@include bp(tablet) {
				padding: 0 0 4em 0;
			}

			.content {
				flex-basis: 50%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				text-align: left;

				@include bp(tablet) {
					flex-basis: 100%;
					margin: 3em auto 0;
					max-width: $default_width;
				}

				@include bp(less_than_ipad) {
					max-width: 100%;
				}

				h1 {
					color: $white;
					font-size: 72px;
					text-transform: uppercase;
					line-height: 1.2;
					margin-top: 0;

					@include bp(less_than_ipad) {
						font-size: 54px;
					}
				}

				span {
					font-size: 30px;
					padding: 0 5em 0 0;
					margin: 0 0 1.5em 0;
					color: $white;

					@include bp(tablet) {
						padding: 0;
					}

				}

				.link {
					color: $white;
					text-decoration: none;
					font-size: 22px;
					font-weight: 700;
					position: relative;

					&::after {
						position: absolute;
						display: block;
						content: "";
						background: $secondary__color;
						height: 3px;
						width: 100%;
						overflow: hidden;
					}

					&:hover {
						color: $secondary__color_lighter;
					}

					&:hover::after {
						background: $white;
					}
				}
			}

			.image {
				align-items: flex-end;
				flex-basis: 50%;
				display: block;
				line-height: 0;

				@include bp(tablet) {
					display: none;
				}

				img {
					width: 100%;
					border-radius: 12px;
				}
			}
		}
	}
}