$size__site-main: 100%;
$size__site-sidebar: 25%;

$content__width: 	1240px;
$full__width: 		100%;
$header-width:		1240px;
$frame-width:		1240px;
$content-width:		720px;
$wide-content:		1280px;
$default_width: 	92%;